//= require bootstrap
//= require_self
//= require bootstrap-responsive
//= require jquery.ui.datepicker
//= require pickadate
//= require flat-ui
//= require emojify/emojify

body {
  position: relative;
  background: #fff none;
  z-index: 2;
}

#header, #header h1, #header a, #header a:hover {
  color: #ECF0F1;
  text-decoration: none;
  text-shadow: 0 0 5px #000000;
}

#header {
  background: transparent url('/assets/banner.jpg') no-repeat top center scroll;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 360px;
}

.source-image {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.message {
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid black;
}

.message:first-child {
  border-top: none;
}

.message.Kathryn {
  background-color: #FFF0F5;
}


.day .currentDay {
  font-weight: bold;
}

.day.otherMonth {
  color: #999;
}

.seeMore {
  display: none;
}

.search .seeMore {
  display: inline;
}


.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}
