- page_title 'Unauthorized'
.form-signin
  %h2.form-signin-heading You are not authorized

  %p This website uses Facebook to ensure that content is only shown to authorized users - you are unfortunately not on the list.

  = link_to 'Logout', destroy_user_session_path, :method => :delete, :class => 'btn btn-large btn-primary'