<ul class="pager">
  <% if @day.prev_day < @first_day %>
    <li class="previous disabledd"><a>&larr; Previous Day</a></li>
  <% else %>
    <li class="previous"><%= link_to("&larr; Previous Day".html_safe, date_path([@day.prev_day.year, @day.prev_day.month, @day.prev_day.day].join('-'))) %></li>
  <% end %>
  <% if @day.next_day > @last_day %>
    <li class="next disabledd"><a>Next Day &rarr;</a></li>
  <% else %>
    <li class="next"><%= link_to("Next Day &rarr;".html_safe, date_path([@day.next_day.year, @day.next_day.month, @day.next_day.day].join('-'))) %></li>
  <% end %>
</ul>